.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info img{
    margin: 10px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: rgb(242, 206, 126) solid 8px;
    box-shadow: 2px 5px 5px black;
}
.info h2 {
    font-size: 1.5em;
    line-height: 1.1;
    font-weight: 900;
    padding: 10px;
    margin: 10px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 3px solid transparent;
    box-shadow: 2px 5px 5px black;
    background-color: rgb(244, 136, 48);
}

.info p {
    font-size: 1.0em;
    line-height: 1.1;
    font-weight: 700;
    padding: 5px;
    margin: 10px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 3px solid transparent;
    box-shadow: 2px 5px 5px black;
    background-color: rgb(243, 178, 38);
}

.info button{
    margin: 20px;
}